{%extends "base.html.twig"%}

{% block titrePage %}
  {% if action == "ajouter" %}
    Ajout d'un nouveau stage
  {% else %}
    Modifier un stage
  {% endif %}


{% endblock %}

{% block contenuPage %}
  {{ form_start(vueFormulaire) }}
    {{ form_row(vueFormulaire.initule,{'label':"Sujet du stage"})}}

    {{ form_row(vueFormulaire.descriptif) }}

    {{ form_row(vueFormulaire.domaine) }}

    {{ form_row(vueFormulaire.email,{'attr':{'placeholder':"Adresse mail du responsable de l'entreprise" }}) }}

    {{ form_row(vueFormulaire.URL , {'attr':{'placeholder':"URL d'une image représentant le stage"}}) }}

    {{ form_row(vueFormulaire.entreprise,{'label':"Entreprise proposant le stage"})}}

    {{ form_row(vueFormulaire.formations,{'label':"Formation concernée"})}}

    <button type="submit" class="btn btn-dark">Enregistrer</button>

  {{ form_end(vueFormulaire) }}
{% endblock %}
