{%extends "base.html.twig"%}

{% block titrePage %}
  {% if action == "ajouter" %}
    Ajout d'un nouveau stage
  {% else %}
    Modifier le stage
  {% endif %}
    

{% endblock %}

{% block contenuPage %}
  {{ form_start(vueFormulaire) }}
    <label> Intitulé du stage </label>
    {{ form_widget(vueFormulaire.initule)}}

    {{ form_row(vueFormulaire.descriptif) }}
    {{ form_row(vueFormulaire.domaine) }}
    {{ form_row(vueFormulaire.email) }}
    {{ form_row(vueFormulaire.URL , {'attr':{'placeholder':"http://uneURL.com"}}) }}
    <button type="submit" class="btn btn-dark">Enregistrer</button>

  {{ form_end(vueFormulaire) }}
{% endblock %}
