{%extends "base.html.twig"%}

{% block titrePage %}
  {% if action == "ajouter" %}
    Ajout d'une nouvelle entreprise
  {% else %}
    Modifier une entreprise
  {% endif %}

{% endblock %}

{% block contenuPage %}
  {{ form_start(vueFormulaire) }}
    <label> Nom de l'entreprise </label>
    {{ form_widget(vueFormulaire.intitule)}}

    {{ form_row(vueFormulaire.adresse) }}
    {{ form_row(vueFormulaire.activite) }}
    {{ form_row(vueFormulaire.URL , {'attr':{'placeholder':"http://uneURL.com"}}) }}
    <button type="submit" class="btn btn-dark">Enregistrer</button>

  {{ form_end(vueFormulaire) }}
{% endblock %}
