{%extends "base.html.twig"%}

{% block titrePage %}
  Voici la liste des entreprises proposant un stage
{% endblock %}

{% block contenuPage %}

  <div class="card-columns">
    {% for entrepriseCour in entreprises %}
      <div class="card">
        <a href="" class="card-link">
          <img class="card-img-top" src="{{entrepriseCour.URL}}" alt="Card image cap">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{entrepriseCour.intitule}}</h5>
          <p class="card-text"><b>Activité : </b>{{entrepriseCour.activite}}</p>
          <p class="card-text"><b>Adresse : </b>{{entrepriseCour.adresse}}</p>
          <a href="{{path('pro_stage_entreprise_modifier',{id:entrepriseCour.id})}}" class="btn btn-outline-primary">
            Modifier
          </a>
        </div>
      </div>
    {% endfor %}
    </div>


{% endblock %}
