{%extends "base.html.twig"%}

{% block titrePage %}
  Voici la liste des formations de l'IUT
{% endblock %}

{% block contenuPage %}
<div class="card-columns">
  {% for formationCour in formations %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{formationCour.intitule}}</h5>

        <p class="card-text"><b>Adresse : </b>{{formationCour.adresse}}</p>
        <p class="card-text"><b>Téléphone : </b>{{formationCour.telephone}}</p>
        <p class="card-text"><b>Email : </b>{{formationCour.mail}}</p>
        <a href="{{path('pro_stage_formation_modifier',{id:formationCour.id})}}" class="btn btn-outline-primary">
          Modifier
        </a>
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock %}
