{%extends "base.html.twig"%}



    {% block titrePage %}
          Les derniers stages proposés
    {% endblock %}

    {% block contenuPage %}
    <!-- Lien pour ajouter un -->
    <div class="container-fluid">

    </div>

    <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <b>Appliquer un filtre</b>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="{{path('pro_stage')}}">
                <i class="icon-list-bullet">
                  Tous les stages
                </i>
              </a>
            </li>
            <li class="list-group-item">
              <a href="{{path('pro_stage_tousParEntreprise')}}">
                <i class="icon-home">
                  Par entreprise
                </i>
              </a>
              <ul class="list-group list-group-flush">

                <!-- Partie à déboguer (version txt )-->
                {# {% for entrCouante in entreprises %} #}

                 <!-- <a href=" {#{{ path('pro_stage_parEntreprise',{ 'id' :entrCouante.id} ) }} " >
                 <li class="list-group-item">{{entrCouante.intitule}}</a></li>

               {% endfor %} #} -->
              </ul>
            </li>
            <li class="list-group-item">
              <a href="{{path('pro_stage_tousParFormation')}}">
                <i class="icon-book">
                  Par formation
                </i>
              </a>
            </li>
          </ul>
        </div>

        <div class="card">
          <div class="card-header">
            <b>Ajouter des champs</b>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a href="{{path('pro_stage_entreprise_ajouter')}}"> Ajouter une entreprise</a></li>
              <li class="list-group-item">
                <a href="{{path('pro_stage_stage_ajouter')}}"> Ajouter un stage</a>
              </li>
            </ul>
          </div>
  </div>




      </div>
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            <b>Stages actuellement proposés</b>
          </div>
          <ul class="list-group list-group-flush">
            {% for stageCourant in stages %}
              <li class="list-group-item">
                <a href="{{ path('pro_stage_stages',{id:stageCourant.id})}}">
                  {{stageCourant.initule}} - {{stageCourant.entreprise.intitule}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>



    {% endblock %}
