{%extends "base.html.twig"%}

  {% block contenu %}


          <br>

    </div>
    <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Appliquer un filtre
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{path('pro_stage')}}"><i class="icon-list-bullet"></i>Tous les stages</a></li>

            <li class="list-group-item"><i class="icon-home">Par entreprise</i>

              <ul class="list-group list-group-flush">

                <!-- Partie à déboguer (version txt )-->
                <a href="{{ path('pro_stage_parEntreprise',{nom:'Safran'})}}" >
                  <li class="list-group-item"><i class="icon-home">Safran</i>
                  </li>
                </a>
                <a href="{{ path('pro_stage_parEntreprise',{nom:'Total'})}}" >
                  <li class="list-group-item"><i class="icon-home">Total</i>
                  </li>
                </a>
                <a href="{{ path('pro_stage_parEntreprise',{nom:'Dassaut'})}}" >
                  <li class="list-group-item"><i class="icon-home">Dassaut</i>
                  </li>
                </a>



              </ul>


            </li>
            <li class="list-group-item"><i class="icon-book"></i>Par formation</li>
          </ul>
        </div>
      </div>
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            Stages actuellement proposés
          </div>
          <ul class="list-group list-group-flush">
            {% for stageCourant in stages %}
              <li class="list-group-item">
                <a href="{{ path('pro_stage_stages',{id:stageCourant.id})}}">
                  {{stageCourant.initule}} - {{stageCourant.entreprise.intitule}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>








<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
  {% endblock %}
