{%extends "base.html.twig"%}


  {% block titrePage %}
    Les stages classés par entreprise
  {% endblock %}


  {% block contenuPage %}


<div class="container">
<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <b>Appliquer un filtre</b>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{{path('pro_stage')}}"><i class="icon-list-bullet"></i>Tous les stages</a></li>
        <li class="list-group-item"><a href="{{path('pro_stage_tousParEntreprise')}}"><i class="icon-home">Par entreprise</i></a></li>
        <li class="list-group-item"><a href="{{path('pro_stage_tousParFormation')}}"><i class="icon-book"></i>Par formation</a></li>
      </ul>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <b>Stages actuellement proposés</b>
      </div>
      <ul class="list-group list-group-flush">
        {% for stageCourant in stages %}
          <li class="list-group-item">
            <a href="{{ path('pro_stage_stages',{id:stageCourant.id})}}">
              {{stageCourant.initule}} - {{stageCourant.entreprise.intitule}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</div>
</div>

{% endblock %}
